@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@font-face {
    font-family: iransans;
    src: url('../../public/font/iransans.woff2');
}

body {
    font-family: iransans;
    direction: rtl;
}

